#MediaSelect{
  text-transform: capitalize;
}

.tips {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  visibility: hidden;
  margin-left: 1px;
}

svg {
  margin-left: 50px;
  margin-right: 50px;
  /*width: 30%;*/
  float:left;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
}


.dropdown{
  visibility: visible;
  background: transparent;
  color:black;
  text-transform: capitalize;
  float:left;
  overflow: hidden;
  height: auto;
  margin-left: 10px;
}

.sendercount{
  margin-top: 90px;
  margin-left: 20%;
  visibility: visible;
  background: transparent;
  float:left;
  color:black;
  font-size: 110px;
  overflow: hidden;
  /*font-weight: bold;*/
}

.bar{
  top:450px;
  background: white;
  margin-left: 10px;
  font-size: 20px;
}

:hover {
  fill: #F9E79F;
}

table.SocialMediaMainTable {
  border-collapse: collapse;
  /*border: 2px black solid;*/
  font: 14px sans-serif;
  margin-top: 10px;
  margin-left: 1px;
  margin-right: 0.7px;
  position: relative;
}

table.SocialMediaMainTable tr {display: block; }

table.SocialMediaMainTable th{
  overflow: hidden;
  width: 300px !important ;
  text-transform: capitalize;
}

table.SocialMediaMainTable td {
 overflow-y: scroll; ;
 width: 300px !important ;
 text-transform: capitalize;
}

table.SocialMediaMainTable tbody { display: block; overflow: scroll;}

table.SocialMediaMainTable td {
  /*border: 1px black solid;*/
  padding: 5px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #F9E79F;
}

table.stat {
  border-collapse: collapse;
  /*border: 2px black solid;*/
  font: 14px sans-serif;
  margin-top: 10px;
  margin-left: 0.7px;
  margin-right: 0.7px;
  padding-left: 0px;
  position: relative;
  overflow: auto;
  /*width: 50px;*/
}

table.stat tr {display: block;  }
table.stat th{
  overflow: hidden;
  width: 100px !important ;
  text-transform: capitalize;
}
table.stat td {
 overflow: hidden;
 width: 100px !important ;
 text-transform: capitalize;
}
/*
table.stat thead { overflow: auto; }*/
table.stat tbody { display: block; height: 179px !important; overflow: auto;} 
